/****************************************************/
/************** Anti-Bootstrap **********************/
.navbar {
    margin-bottom: 0 !important;
}


/****************************************************/
/************** Base ********************************/

html {
    height: 100%;
}

body {
    color: #333;
    height: 100%;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6,
p, div, span, section, label, ul, li {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}

.shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

/****************************************************/
/************** Navs ********************************/

body .navbar {
    min-height: 55px;
}

.navbar-brand .title {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 0 10px;
    padding: 6px 0 6px 10px;
}

.navbar-brand img {
    width: 90px;
    height: 28px;
    margin-left: 0px;
}

.navbar-collapse .nav { margin: 6px -5px 0 0; }

/****************************************************/
/************** Graphs ******************************/

.graph-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    background: rgba(255,255,255,0.7);
    z-index: 100;
    border-top: 1px solid #ccc;
}

.who-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: #33475B;
    color: #fff;
    display: inline-block;
    padding: 4px 12px 4px 12px;
    position: absolute;
    left: 0;
    top: -10px;
}

#epi-graph {
    height: 247px;
    position: relative;
    font-size: 10px;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

.legend-container {
    margin: 48px 1em;
}

.legend {
    list-style: none;
}

.legend li {
    font-size: 12px;
    line-height: 12px;
    margin: 1em 1.2em;
    font-weight: 600;
    color: #444;
}

.legend li > span {
    display: inline-block;
}

.fixed-legend {
    position: absolute;
    left: 40px;
    top: 40px;
}

.legend .box {
    height: 10px;
    width: 10px;
    border-radius: 2px;
    margin-right: 4px;
}

.inline-legend {
    text-align: center;
}

.inline-legend > li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.fixed-width > li {
    display: inline-block;
    width: 19%;
}

.inline-legend .box {
    height: 8px;
    width: 100%;
    margin-right: 0;
    border-radius: 0;
}

.bg-white {
    background: #fff;
    padding: 12px 0;
}

.district .box,
.country .box { opacity: 0.333; }
.zone-0            { background: #ffffd4; }
.zone-1            { background: #fec44f; }
.zone-2            { background: #fe9929; }
.zone-3            { background: #d95f0e; }
.zone-4            { background: #993404; }


.confirmed  { fill: #7b6888; background: #7b6888; }
.suspected  { fill: #98abc5; background: #98abc5; }
.probable   { fill: #8a89a6 ; background: #8a89a6 ; }

.inline-legend .circle  { background: #9686A1; }
.inline-legend .size-0  { width: 8px; height: 8px; border-radius: 4px; }
.inline-legend .size-1  { width: 16px; height: 16px; border-radius: 8px; }
.inline-legend .size-2  { width: 24px; height: 24px; border-radius: 12px; }
.inline-legend .size-3  { width: 36px; height: 36px; border-radius: 18px; }
.inline-legend .size-4  { width: 48px; height: 48px; border-radius: 24px; }


/****************************************************/
/************** SVG *********************************/

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.case-line {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 2px;
    stroke: #EBBA5D;
}

.tick line { stroke: #666; }
.tick text { color: #666; }

.week {
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    transition: opacity 200ms;
}

.week.active {
    opacity: 0.8;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 6px 12px;
    background: #fff;
    opacity: 0.8;
    color: #333;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1002;
}

.d3-tip > h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 8px;
}

.d3-tip > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 6px;
}


/****************************************************/
/************** Download ****************************/

.download{
    position: fixed;
    top: 78px;
    right: 10px;
    display: none;
}

.download-button:before {
    content: '';
    width: 20px;
    height: 12px;
    display: inline-block;
    background: url(images/download_14.png) no-repeat;
}

/****************************************************/
/************** Maps ********************************/

#map {
    width: 100%;
    height: 100%;
}

#map-overlay-container {
    position: absolute;
    top: 12px;
    right: 15px;
    text-align: right;
}

#map-overlay-container > .dropdown-container {
    margin-right: 12px;
    margin-top: 4px;
}

.dropdown-menu .confirmed,
.dropdown-menu .suspected,
.dropdown-menu .probable {
    background: #fff;
}

.leaflet-popup-content {
	font-size: 12px;
}
.leaflet-popup-content table {
	width: 100%;
}
.leaflet-popup-content .marker-title {
	font-weight: normal !important;
	margin-bottom: 0 !important;
}
.leaflet-popup-content .cases-total {
	font-weight: bold;
	font-size: 30px;
	color: #9686a1;
	text-align: center;
	display: block;
}
.leaflet-popup-content .country-title {
	font-size: 10px;
	text-transform: uppercase;
	color: #aaa;
}
.leaflet-popup-content .location-type {
	font-size: 10px;
	color: #aaa;
	line-height: 1.2;
}
.leaflet-popup-content .cell-value {
 	font-weight: bold;
	color: #9686a1;
	padding: 0 10px;
}
.leaflet-popup-content .cases-total-cell {
	text-align: center;
	color: #aaa;
	font-size: 10px;
	padding: 10px 10px 0 10px;
}
.leaflet-popup-content td {
	padding: 1px 5px 1px 0px;
}

.epi-graph {
    position: relative;
}



.footer {
    display: none;
}


/****************************************************/
/************** Media Queries ***********************/

@media only screen and (min-width: 960px) {
    .subhead h1 { font-size: 38px; }
    .jumbotron p { font-size: 24px; }
    body .navbar { min-height: 70px; }
    .navbar-brand { padding: 8px; }
    .navbar-brand img { width: 140px; height: 43px; }
    .navbar-brand .title {
        font-size: 23px;
        margin: 8px 0 0 15px;
    }
    .navbar-collapse .nav { margin: 18px -5px 0 0; }

    .graph-container { margin-top: 1em; }
    #epi-graph { height: 280px; }
    #test-index { display: none; }
    #map-overlay-container > .dropdown-container {
        float: right;
        margin-top: 0;
    }
    .download {
        display: block;
    }
}
