/****************************************************/
/************** Base ********************************/

html {
}

body {
    color: #333;
    height: 100%;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    padding-top: 55px;
}

h1, h2, h3, h4, h5, h6,
p, div, span, section, lable, ul, li {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

#map > .who-title,
.who-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 12px;
    background: #33475B;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 12px 4px 36px;
}

#map > .who-title {
    z-index: 1005;
    top: 1em;
}

.shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

/****************************************************/
/************** Navs ********************************/

.navbar-fixed-top {
    min-height: 55px;
}

.navbar-brand .title {
    font-size: 16px;
    margin: 0 0 0 15px;
}

.navbar-brand img {
    width: 120px;
    height: 37px;
    margin-left: 8px;
}

.navbar-collapse .nav { margin: 6px -5px 0 0; }

/****************************************************/
/************** Graphs ******************************/

.graph-container {
    position: relative;
    margin-top: 1em;
}

#epi-graph {
    text-align: center;
    width: 100%;
    height: 237px;
    position: relative;
    font: 10px sans-serif;
}

.graph-legend {
    float: right;
    height: 12px;
    margin: 45px 45px 0;
    position: relative;
}

.graph-legend > span {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.graph-legend > .box {
    height: 12px;
    width: 12px;
    border-radius: 2px;
    margin-right: 0.5em;
    margin-left: 1.2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.case-line {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 2px;
    stroke: #EBBA5D;
}

.tick line {
    stroke: #666;
}
.tick text {
    color: #666;
}

.confirmed {
    fill: #7b6888;
    background: #7b6888;
}

.suspected {
    fill: #98abc5;
    background: #98abc5;
}

.probable {
    fill: #8a89a6 ;
    background: #8a89a6 ;
}

.week {
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    transition: opacity 200ms;
}

.week.active {
    opacity: 0.8;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 6px 12px;
    background: #34495e;
    opacity: 0.8;
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1002;
}

.d3-tip > h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 8px;
}

.d3-tip > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 6px;
}

.download{
  position: relative;
  left:88%;
  font: 14px sans-serif;
  margin-bottom: 10px;
  line-height: 14px;
}

.download-button:before {
    content: '';
    width: 20px;
    height: 12px;
    display: inline-block;
    background: url(images/download_14.png) no-repeat;
}

/****************************************************/
/************** Maps ********************************/

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

.leaflet-top.leaflet-left {
    top: 40px;
}

.cluster {
    background: rgb(37,77,128);
    border-radius: 50%;
    text-align: center;
    color: #eee;
    font-weight: 300;
    border: 1px solid rgb(37,77,128);
}

.cluster:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid #eee;
}

.digits-1 {
    font-size: 14px;
    height: 28px;
    width: 28px;
    line-height: 25px;
    margin-top: -14px;
    margin-left: -14px;
}

.digits-2 {
    font-size: 16px;
    height: 34px;
    width: 34px;
    line-height: 32px;
    margin-top: -17px;
    margin-left: -17px;
}

.digits-2:before {
    border-width: 2px;
}

.digits-3 {
    font-size: 16px;
    height: 48px;
    width: 47px;
    line-height: 42px;
    border-width: 3px;
    margin-top: -24px;
    margin-left: -24px;
}

.digits-3:before {
    border-width: 3px;
}

.digits-4 {
    font-size: 16px;
    height: 58px;
    width: 58px;
    line-height: 50px;
    border-width: 4px;
    margin-top: -29px;
    margin-left: -29px;
}

.digits-4:before {
    border-width: 4px;
}

#map-overlay-container {
    position: absolute;
    top: 12px;
    right: 15px;
    text-align: right;
}

#map-overlay-container > .dropdown-container {
    margin-right: 12px;
    margin-top: 4px;
}

.dropdown-menu .confirmed,
.dropdown-menu .suspected,
.dropdown-menu .probable {
    background: #fff;
}


/****************************************************/
/************** Map Legend **************************/


.legend label,
.legend span {
    z-index: 999;
    display:block;
    float:left;
    height: 10px;
    font-size: 11px;
    line-height: 14px;
    text-align:center;
    color:#333;
    font-weight: 400;
    font: 12px sans-serif;
}

.legend.country span,
.legend.country label {
    width:16.666666666%;
}
.legend.district span, .legend.district label {
    width:20%;
}
.legend.country{
    margin-bottom:15px;
}
.legend.district{
    margin-bottom:20px;
}

.leaflet-popup-content {
  font-size: 12px;
}

.popup-click td {
  padding: 1px 5px 1px 0px;
}

/****************************************************/
/************** Download ******************************/

.download-container {
    position: relative;
    margin-top: 1em;
}

.download-section {
    top: 40px;
    left: 30px;
    width: 100%;
    position: relative;
    font: 14px sans-serif;
}

.download-container .btn {
  top: 50px;
  left: 30px;
}

/****************************************************/
/************** Media Queries ***********************/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .navbar-toggle {
        margin-right: 8px!important;
    }
    .graph-container {
        display: none;
    }
    .navbar-brand .title {
        max-width: 125px;
        padding: 0px 0px 8px 4px;
        height: 35px;
        margin: 0px 0px 0px 8px;
    }
    .navbar-brand a {
        margin-top: 0px;
    }
    .navbar-brand img {
        margin-left: 15px;
    }
    #map {
        height: 350px;
    }
}

@media only screen and (min-width: 960px) {
    body {
        padding-top: 70px;
    }
    .subhead h1 { font-size: 38px; }
    .jumbotron p { font-size: 24px; }
    .navbar-fixed-top { min-height: 70px; }
    .navbar-brand img { width: 170px; height: 52px; }
    .navbar-brand .title {
        font-size: 23px;
        margin: 8px 0 0 15px;
    }
    .navbar-collapse .nav { margin: 13px -5px 0 0; }

    .graph-legend { margin: 0 45px; }
    #epi-graph { height: 192px; }
    #map-overlay-container > .dropdown-container {
        float: right;
        margin-top: 0;
    }
    .legend label,
    .legend span {
        height:20px;
        font-size:12px;
        line-height: 20px;
    }
}
