<!doctype html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WHO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href="img/favicon.ico" rel="shortcut icon">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/who.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/vendor/mapbox.css" />
        <link rel="stylesheet" href="styles/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="styles/vendor/selectize.bootstrap3.css" />
        <!-- endbuild -->

        <!--[if lt IE 9]>
            <script src="scripts/vendor/ie9/html5shiv.js"></script>
            <script src="scripts/vendor/ie9/respond.min.js"></script>
            <script src="scripts/vendor/ie9/es5.js"></script>
        <![endif]-->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/who-logo-prp.gif" alt="who-logo-prp" height="60">
                        <span class="title">Ebola Outbreak Data</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav nav-pills pull-right" id="nav-main">
                        <li>
                            <a href="https://extranet.who.int/programmebudget/">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Response</a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#myModal">Data</a>
                        </li>
                    </ul>
                 </div>
              </div>
            </div>
        </div>

        <div id="map">
            <div id="map-loader"></div>
        </div>

        <div class="graph-container">
            <div class="container">
                <div class="row">

                    <div class="col-md-6" id="epi-graph">
                        <h5 class="who-title">Reported Ebola cases by week</h5>

                        <ul class="legend fixed-legend">
                            <li><span class="box confirmed">&nbsp;</span> Confirmed</li>
                            <li><span class="box probable">&nbsp;</span> Probable</li>
                            <li><span class="box suspected">&nbsp;</span> Suspected</li>
                        </ul>
                    </div>

                    <div class="col-md-6" id="map-legend">
                        <h5 class="who-title" id="geography-zoom-level">Country-level response</h5>

                        <div class="legend-container">

                            <ul class="country legend inline-legend fixed-width bg-white">
                                <li><span class="box zone-0">&nbsp;</span></li>
                                <li><span class="box zone-1">&nbsp;</span></li>
                                <li><span class="box zone-2">&nbsp;</span></li>
                                <li><span class="box zone-3">&nbsp;</span></li>
                                <li><span class="box zone-4">&nbsp;</span></li>
                                <li>No Ebola cases/rumours</li>
                                <li>Rumour countries</li>
                                <li>At-risk countries</li>
                                <li>New countries with cases</li>
                                <li>Core zone</li>
                            </ul>

                            <ul class="district legend inline-legend fixed-width bg-white" style="display:none;">
                                <li><span class="box zone-0">&nbsp;</span></li>
                                <li><span class="box zone-1">&nbsp;</span></li>
                                <li><span class="box zone-2">&nbsp;</span></li>
                                <li><span class="box zone-3">&nbsp;</span></li>
                                <li><span class="box zone-4">&nbsp;</span></li>
                                <li>No Ebola cases</li>
                                <li>New Ebola cases</li>
                                <li>Active transmission outside core zone</li>
                                <li>Active transmission with response hubs</li>
                                <li>Core zone</li>
                            </ul>

                            <div class="row marker-legend">
                                <div class="col-md-4 cases-marker">
                                    <img src="img/cases-marker.png" /> Ebola cases 
                                    <div class="cases-label">Cases in past 7 days</div>
                                </div>
                                <div class="col-md-4 response-marker">
                                    <img src="img/triage-64x64.png" /> Triage and Transit posts
                                </div>
                                <div class="col-md-4 response-marker">
                                    <img src="img/hub-64x64.png" /> Major Ebola Treatment Centre HUBS
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="case-counter">
          <button id="case-count" data-toggle="dropdown" class="case-counter-button btn btn-default">0 cases <span class="caret"></span></button>
        	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        	    <li>Some text about case count</li>
 			</ul>
        </div>
        
        <div class="explore">
            <button id="explore-map" data-toggle="dropdown" class="explore-button btn btn-default">Explore <span class="caret"></span></button>
        	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        	    <li><a href="#" class="layer" data-zoom="3" data-layer="risk">Risk</a></li>
				<li><a href="#" class="layer" data-zoom="7" data-layer="cases">Cases</a></li>
				<li><a href="#" class="layer" data-zoom="9" data-layer="response">Response</a></li>
 			</ul>
        </div>

        <!-- Notes Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Download Our Data</h4>
              </div>
              <div class="modal-body">
                <h4 class="left">Ebola Virus Disease (EVD) Case Data</h4>
                <p>EVD case data contains deidentified data about each case reported to the WHO. This data is updated daily and contains information about date reported, 2nd admin level location, category, and outcome. This data is a complied list from all WHO partners.</p>
                <button id="csv-download-cases" class="download-button btn btn-default">Download EVD case data</button>

                <h4 class="left">WHO Facilities List</h4>
                <p>WHO Facilities List data is an itemized list of treatment centers and triage locations. This data contains facility location information as well as status, bed capacity, and status.</p>
                <button id="csv-download-facilities" class="download-button btn btn-default">Download WHO Facilities List</button>

                <h4 class="left">WHO Response Level Categorization</h4>
                <p>WHO response level classifies countries and administrative areas according to level of response. Data is categorized at the country globally, and at the province/district level in countries with confirmed cases. Countries and administrative areas are classified with a level between 1 to 5. Level corresponds to an evaluation criteria and is updated on a daily basis.</p>
                <button id="csv-download-response" class="download-button btn btn-default">Download WHO Response Level Categorization</button>

                <h4 class="left">License</h4>
                <p>All data is public domain and made freely available under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
            <div class="container">
                <ul class="footer-links">
                    <li><a href="/about/copyright/en/">© <acronym title="World Health Organization">WHO</acronym> 2013</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://www.who.int/about/privacy/en/index.html">Privacy</a></li>
                </ul>
            </div>
        </div>

        <div id="test-index"></div>

        <div id="project-templates" style="display:none;">

            <script type="text/template" id="dropdown-template">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="selected"><%= selected %></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <% _.each(options, function(option) { %>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="<%= option.val %>"><%= option.display %></a></li>
                        <% }); %>
                    </ul>
                </div>
            </script>

        </div>

        <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/topojson/topojson.js"></script>
        <script src="bower_components/queue-async/queue.min.js"></script>
        <script src="scripts/vendor/spin.js/spin.js"></script>
        <script src="scripts/vendor/bootstrap.min.js"></script>
        <script src="scripts/vendor/d3.v3.min.js"></script>
        <script src="bower_components/d3-tip/index.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/views/map.js"></script>
        <script src="scripts/views/table.js"></script>
        <script src="scripts/views/epi-graph.js"></script>
        <script src="scripts/collections/cases.js"></script>
        <script src="scripts/collections/globalrisk.js"></script>
        <script src="scripts/models/deployment.js"></script>
        <script src="scripts/models/case.js"></script>
        <script src="scripts/models/country.js"></script>
        <script src="scripts/models/province.js"></script>
        <script src="scripts/models/district.js"></script>
        <script src="scripts/views/dropdown.js"></script>
        <script src="scripts/routes/app.js"></script>
        <script src="scripts/views/marker.js"></script>
        <script src="scripts/models/centroids.js"></script>
        <script src="scripts/views/legend.js"></script>
        <script src="scripts/views/clinic.js"></script>
        <script src="scripts/models/clinics.js"></script>
        <!-- endbuild -->
</body>
</html>
