<!doctype html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WHO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href="img/favicon.ico" rel="shortcut icon">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/who.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/vendor/mapbox.css" />
        <link rel="stylesheet" href="styles/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="styles/vendor/selectize.bootstrap3.css" />
        <!-- endbuild -->

        <!--[if lt IE 9]>
            <script src="scripts/vendor/ie9/html5shiv.js"></script>
            <script src="scripts/vendor/ie9/respond.min.js"></script>
            <script src="scripts/vendor/ie9/es5.js"></script>
        <![endif]-->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/who-logo-prp.gif" alt="who-logo-prp" height="60">
                        <span class="title">Ebola Outbreak Portal</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav nav-pills pull-right" id="nav-main">
                        <li>
                            <a href="https://extranet.who.int/programmebudget/">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Response</a>
                        </li>
                        <li>
                            <a href="https://extranet.who.int/programmebudget/Feedback">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main">
            <div class="graph-container">
              <h5 class="who-title">Reported Ebola cases by week</h5>
              <div id="epi-graph" class="full">
                  <div class="graph-legend">
                      <span class="box confirmed"></span> <span>Confirmed</span>
                      <span class="box probable"></span> <span>Probable</span>
                      <span class="box suspected"></span> <span>Suspected</span>
                      <span class=
                  </div>
                  <div id="epi-graph-loader"></div>
              </div>
          </div>
          <div class="download">
            <a href="https://luminous-heat-4380.firebaseio.com/cases_admin_aug17/.json?download=who-reported-cases.txt">
                <button class="download-button btn btn-xs btn-default">Download data</button>
            <a>
          </div>

          <div id="map" class="full">
              <div id="map-loader"></div>
              <h5 class="who-title">Response level and cases</h5>
          </div>

          <div id="map-legend">
            <div id='legend'>
                <nav class='legend clearfix country'>
                    <span style='background:rgba(246,247,246,0.7);'></span>
                    <span style='background:rgba(255,252,224,0.7);'></span>
                    <span style='background:rgba(252,202,78,0.7);'></span>
                    <span style='background:rgba(250,175,78,0.7);'></span>
                    <span style='background:rgba(249,145,77,0.7);'></span>
                    <span style='background:rgba(246,104,61,0.7);'></span>
                    <label>No cases</label>
                    <label>Rumour Countries</label>
                    <label>Alert Countries</label>
                    <label>At-risk Countries</label>
                    <label>New reporting cases</label>
                    <label>Core Zone</label>
                </nav>

                <nav class='legend clearfix district' style="display:none;">
                    <span style='background:rgba(246,247,246,0.7);'></span>
                    <span style='background:rgba(252,202,78,0.7);'></span>
                    <span style='background:rgba(250,175,78,0.7);'></span>
                    <span style='background:rgba(249,145,77,0.7);'></span>
                    <span style='background:rgba(246,104,61,0.7);'></span>
                    <label>No cases</label>
                    <label>New reporting cases</label>
                    <label>Active transmission outside core zone</label>
                    <label>Active transmission with response hubs</label>
                    <label>Core Zone</label>
                </nav>
            </div>
       </div>

   </div>

        <div class="footer">
            <div class="container">
                <ul class="footer-links">
                    <li><a href="/about/copyright/en/">© <acronym title="World Health Organization">WHO</acronym> 2013</a></li>
                    <li class="muted">·</li>
                    <li><a href="http://www.who.int/about/privacy/en/index.html">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div id="test-index"></div>

        <div id="project-templates" style="display:none;">

            <script type="text/template" id="dropdown-template">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="selected"><%= selected %></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <% _.each(options, function(option) { %>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="<%= option.val %>"><%= option.display %></a></li>
                        <% }); %>
                    </ul>
                </div>
            </script>

        </div>

        <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/topojson/topojson.js"></script>
        <script src="bower_components/queue-async/queue.min.js"></script>
        <script src="scripts/vendor/spin.js/spin.js"></script>
        <script src="scripts/vendor/jquery.ui.touch-punch.min.js"></script>
        <script src="scripts/vendor/bootstrap.min.js"></script>
        <script src="scripts/vendor/selectize.min.js"></script>
        <script src="bower_components/d3-tip/index.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/views/map.js"></script>
        <script src="scripts/views/table.js"></script>
        <script src="scripts/views/epi-graph.js"></script>
        <script src="scripts/collections/response.js"></script>
        <script src="scripts/collections/cases.js"></script>
        <script src="scripts/collections/globalrisk.js"></script>
        <script src="scripts/models/deployment.js"></script>
        <script src="scripts/models/case.js"></script>
        <script src="scripts/models/country.js"></script>
        <script src="scripts/models/province.js"></script>
        <script src="scripts/models/district.js"></script>
        <script src="scripts/views/dropdown.js"></script>
        <script src="scripts/routes/app.js"></script>
        <script src="scripts/views/marker.js"></script>
        <script src="scripts/models/zoom.js"></script>
        <script src="scripts/models/centroids.js"></script>
        <script src="scripts/views/legend.js"></script>
        <script src="scripts/views/clinic.js"></script>
        <script src="scripts/models/clinics.js"></script>
        <!-- endbuild -->
</body>
</html>
